
/**
 * Vertical Centerer Styles
 *
 * @author Matt Andrews <matt@mattandre.ws>
 * @copyright The Financial Times Limited
 */

.verticenter {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
}

.verticenter_inner {
  display: table-cell;
  vertical-align: center;
  vertical-align: middle;
}
